@var: #aabbcc;

html, body {
    height: 100%    
}

body {
    color: @var;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#root {
    position: relative;
    min-height: 100%;
} 

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #35465c
}

footer > ul {
    text-align: center;
    list-style: none
}

footer > ul > li {
    margin-bottom: 5px;
}

#container {
    background-color: #fafafa;
    overflow: auto;
}

#content-wrapper {
    margin-top: 100px;
}
/* Feed */

.feed {
    margin-top: 100px;
    margin-bottom: 300px;
}

/* Add Post Page */
.post-form-wrapper {
    width: 100%;
    margin: auto;
    margin-bottom: 300px;
}

.post-form {
    padding: 50px 10px;
}

